<app-navbar></app-navbar>
<div id="grid-container">  
  
  <div class="button-container">
    <mat-toolbar>Change Items?</mat-toolbar>
    <button mat-raised-button (click)="onBackToCart()">Back to Shop</button>
  </div>

  <mat-card id="empty-cart" *ngIf="!cart.cartItemsByType.length">
    Cart is empty!<br><br>
    To place an order, please press "back to shop" and add items to the cart.
  </mat-card>
  
  <div id="cart-container" *ngIf="cart.cartItemsByType.length">

    <mat-toolbar>
      Cart Overview<br>
      Please review order below
    </mat-toolbar>
    
    <cdk-virtual-scroll-viewport  [itemSize]="">

      <ng-container *ngFor="let type of cart.cartItemsByType">
          <mat-toolbar class="items-toolbar top-table">{{type.typeName}}</mat-toolbar>
          <table mat-table [dataSource]="type.items">
            <ng-container matColumnDef="column1">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.productName}}</td>
            </ng-container>
            <ng-container matColumnDef="column2">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">{{element.amount}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
          </table>
          <div class="items-toolbar bottom-table"></div>
      </ng-container>

      <mat-card id="end-order">End of order</mat-card>  

      </cdk-virtual-scroll-viewport>  
    </div>
  
    
    <div class="button-container" *ngIf=cart.cartItemsByType.length>
        <mat-toolbar>Finalize Order?</mat-toolbar>
      <button mat-raised-button (click)="onSubmitOrder()">Finalize Order</button>
    </div>
</div>  

<mat-select required>
  <mat-label>Something here</mat-label>
  <mat-option [value]="pickUpDate">Whenever</mat-option>
</mat-select>