#flex-grid {
    margin: 5%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.button-container {
    background: #46a8d0;
    background-image: url("../../../assets/images/wavecut.png");    border: solid black 1px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 70%;
    min-width: 200px;
    width: 20%;
}
.button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mat-raised-button { 
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
    height: auto;
    margin: 5%;
    width: 10rem;
}
#overview {
    background: #46a8d0;
    background-image: url("../../../assets/images/wavecut.png");
    border: solid black 1px;
    border-radius: 10px;
    min-width: 700px;
}
.mat-expansion-panel {
    background: #603A17;
    margin: 5%;
    border: solid black 1px;
}
.info-container .mat-card {
    background: #71A040;
    border: solid black 1px;
    margin: 2%;
}
.info-container button {
    margin-top: 2%;
    margin-bottom: 0;
}
.update-button-div {
    display: flex;
    justify-content: center;
}
.mat-action-row {
    border-top: 0;
    cursor: pointer;
}  
#empty-cart {
    background: #A71E2A;
    border: solid black .5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cdk-virtual-scroll-viewport {
    height: 70vh;
    width: 100%;
}
.mat-toolbar {
    background: #065777;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    display: flex;
    justify-content: center;
    color: white;
}
.items-toolbar {
    background-color: #065777;
    border: solid black 1px;
    height: 50%;
    margin-left: 5%;
    width: 90%;
}
.top-table {
    margin-top: 2.5%;
}
.bottom-table {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1rem;
    margin-bottom: 2.5%;
}
.mat-table {
    background: #46a8d0;
    margin-left: 5%;
    color: black;
    width: 90%;
}
th {
    font-weight: bold;
}
th, td {
    color: black;
}
th.mat-header-cell {
    border-bottom-color: black;
}
td.mat-cell {
    border-bottom-color: black;
}
