#top-container {
    background-color: #46a8d0;
}
.mat-toolbar {
    background-color: #065777;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: large;
    justify-content: center;
    margin-bottom: 2%;
}
#buttons {
    display: flex;
    justify-content: center;
}
#success {
    font-size: x-large;
    margin-bottom: 2%;
}
.location-message {
    background: #D47B28;
    border: 1px black solid;
    border-radius: 5px;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
    margin-top: 3%;
}
