<mat-card id="top-container">
  <mat-toolbar id="success">
    <span>Success</span> 
  </mat-toolbar>
  <mat-card class="location-message" *ngIf="!data.family.referral">
    {{'Your order will be ready for pick on ' + data.pickUpDate + ' at the Broad Street Food Pantry.'}}
  </mat-card>
  <mat-card class="location-message" *ngIf="data.family.referral">
    {{'Your order will be delivered on ' + data.pickUpDate + ' by CELC.'}}
  </mat-card>
  <div id="buttons">
    <button mat-raised-button (click)="authService.logout()">Log Out</button>
  </div>
</mat-card>  

