#header {
  position: fixed;
  top: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(113,58,23,1), #D47B28) ;
  border-bottom: solid black 2px;
  height: auto;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  min-width: 1020px;
}
a, p {
  color: rgb(65, 63, 63);
  font-size: medium;
}
img {
  border: solid black .1px;
  border-radius: 2px;
  margin: .2%;
}
.mat-raised-button {
  background-color: #F6D936;
  border: solid black .5px;
  border-radius: 5px;
  color: black;
  margin: 5%;
}
#footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: rgba(177, 177, 177, 0.8);
  border-top: solid  rgba(177, 177, 177, 0.9) 2px;
  height: 5vh;
}
