<mat-expansion-panel (opened) ="panelOpenState = true" (closed)="panelOpenState = false"
[expanded]="panelOpenState">
  <mat-expansion-panel-header>
      <mat-panel-title>
        {{type}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>  
  <mat-card *ngFor="let product of products" class="card-container">
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <div>{{isProductInCart(product) ? getAmount(product) + ' ' + getUnit(product) + ' in Cart' : 'None in Cart'}}</div>
      <mat-checkbox  (change)="updateCart(product)" 
        [checked]="isProductInCart(product)" labelPosition="before">
        Include
    </mat-checkbox>
    </mat-card-header>
  </mat-card>
  <mat-action-row (click)="closePanel()">{{panelOpenState ? 'close' : 'open'}}</mat-action-row>
</mat-expansion-panel>
