
<mat-card>
    <div class="product-name">{{product.productName}}</div>
    <div class=icon-button-container>
        <div>
            <div class="info-container">
                <div *ngIf="limit && type.typeLimits.enableTypeTracking" class="icon-container">
                    <mat-icon class="icon-badge" [matBadge]="limit">add_box</mat-icon>
                    <div>Limit</div>
                </div>
                <div *ngIf="points" class="icon-container">
                    <mat-icon class="icon-badge" [matBadge]="points">attach_money</mat-icon>
                    <div>Points</div>
                </div>
            </div>
        </div>
        <div></div>
        <div class=amount-button-container>
            <div *ngIf="type.typeLimits.enableTypeTracking" class="icon-container">
                <mat-icon class="badge-cart" [matBadge]="amountInCart">shopping_cart</mat-icon>
                <div>Amount in Cart</div>
            </div>
            <div *ngIf="!type.typeLimits.enableTypeTracking" class="icon-container">
                <mat-icon class="badge-cart" [matBadge]="inCart ? 'Yes' : 'No'">shopping_cart</mat-icon>
                <div>Item Requested</div>
            </div>
            <span *ngIf="type.typeLimits.enableTypeTracking" class="button-container">
                <button class="plus-minus-font" mat-raised-button (click)="subtractOneTypeLimitProduct()" [disabled]="!inCart">-</button>
                <button class="plus-minus-font" mat-raised-button (click)="addOneTypeLimitProduct()" [disabled]="addBtnDisabled">+</button>
            </span>
            <span *ngIf="!type.typeLimits.enableTypeTracking" class="button-container">
                <button mat-raised-button (click)="subtractOneProduct()" [disabled]="!inCart">No</button>
                <button mat-raised-button (click)="addOneProduct()" [disabled]="inCart">Yes</button>
            </span>
        </div> 
    </div>       
</mat-card>   
