<app-navbar></app-navbar>
<div id="flex-grid">
  <mat-toolbar>Pick Up Information</mat-toolbar> 
  <mat-card>
    <div id="pick-up-info">Words about pick up</div>
    <br>
    <div id="pick-up-date">
    <div>
      <br>
      <button mat-raised-button (click)="onBackToFamilyClick()">Back To Family</button>
    </div>  
    <mat-form-field>
      <mat-label>Pick Up Dates:</mat-label>
      <mat-select matInput [formControl]="pickUpDate" name="pickUpDate">
        <mat-option *ngFor="let pickUpDate of pickUpDateOptions" [value]="pickUpDateOptions">{{pickUpDate}}</mat-option>
      </mat-select>
      <mat-error *ngIf="pickUpDate.hasError('required')">This field is required.</mat-error>  
    </mat-form-field>
    <div>
      <br>
      <button mat-raised-button (click)="onGoShoppingClick()" [disabled]="!pickUpDate.valid">Go Shopping</button>
    </div>  
  </div>
  </mat-card>  
</div>
