#flex-grid {
    margin: 5%;
    margin-top: 7%;
}
.mat-card {
    background: #46a8d0;
    border: solid black 1px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
#pick-up-info {
    display: flex;
    justify-content: center;
}
.mat-error {
    color: black;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
}
.mat-toolbar {
    background: #065777;
    border: solid black 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    justify-content: center;
    color: white;
}
#pick-up-date {
    display: flex;
    justify-content: space-between;
}