<div class="flex-grid">                
    
    <summary class="button-container" id="left">
        <mat-toolbar>Family Info</mat-toolbar>
        <mat-card >
            Family Name: 
            <div>{{family.lastName}}</div>
        </mat-card>
        <mat-card> {{'Family Size: ' + family.familySize}}</mat-card>
        <mat-card *ngIf="family.schoolChildren !== 0">{{'School Children: ' + family.schoolChildren}}</mat-card>
        <mat-card>
            Choice Points:
            <div>{{ remainingPoints + ' / ' + maxPoints}}</div>
        </mat-card>
        <button mat-raised-button color (click)="onBackToFamilyClick()">Back to Family</button>
    </summary>    
    
    <main id="middle">
        <mat-toolbar>Click Below to Shop</mat-toolbar>
        <app-after-school-product [family]="family" *ngIf="family.schoolChildren !== 0"></app-after-school-product>
        <app-bulk-product></app-bulk-product>
        <app-choice-product [family]="family" (pointEmitter)="receivePoints($event)"></app-choice-product> 
        <app-dairy-product [family]="family"></app-dairy-product>
        <app-meat-product [family]="family"></app-meat-product>
        <app-recipe></app-recipe>     
    </main>
    
    <nav class="button-container">
        <mat-toolbar>Ready to Place Order?</mat-toolbar> 
        <button mat-raised-button (click)="onReviewCartClick()">Review Cart</button>
    </nav>  

</div>
<img src="../../../assets/images/fruit.png" id="fruit"> 

