<div class="flex-grid">                
    
    <summary class="button-container" id="left">
        <mat-toolbar>Family Info</mat-toolbar>
        <mat-card >
            Family Name: 
            <div>{{family.lastName}}</div>
        </mat-card>
        <mat-card> {{'Family Size: ' + family.familySize}}</mat-card>
        <mat-card *ngIf="family.schoolChildren !== 0">{{'School Children: ' + family.schoolChildren}}</mat-card>
        <mat-card>
            Choice Points:
            <div>{{ currentPoints + ' / ' + maxPoints}}</div>
        </mat-card>
        <button mat-raised-button color (click)="onBackToFamilyClick()">Back to Family</button>
    </summary>    
    
    <main id="middle">
        <mat-toolbar>Click Below to Shop</mat-toolbar>
        <cdk-virtual-scroll-viewport  itemSize="">
            <ng-container *ngFor="let type of totalTypes" >
                <app-product-type [family]="family" [type]="type"></app-product-type>
            </ng-container>
        </cdk-virtual-scroll-viewport>     
    </main>
    
    <nav class="button-container" id="right">
        <mat-toolbar>Ready to Place Order?</mat-toolbar> 
        <button mat-raised-button (click)="onReviewCartClick()">Review Cart</button>
    </nav>  

</div>
<img src="../../../assets/images/fruit.png" id="fruit"> 

