.flex-grid {
    margin: 5%;
    margin-top: 6%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.mat-toolbar {
    background: #065777;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    justify-content: center;
    color: white;
}
.mat-card {
    background: #46a8d0;
    border: solid black 1px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
}
.family-container {
    background: #46a8d0;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    border-radius: 10px;
    height: 100%;
    min-width: 200px;
}
.family-container .mat-card {
    border: solid black 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#family-button-container {
    display: flex;
    justify-content: center;
    align-content: center
}
#family-button {
    margin-top: 5%;
    margin-bottom: 10%;
}
#left .mat-card {
    background: #D47B28;
    margin: 5%;
}
#middle {
    background: #46a8d0;
    border: solid black 1px;
    border-radius: 10px;
    min-width: 700px;
}
.cdk-virtual-scroll-viewport {
    display: flex;
    height: 73vh;
    width: 100%;
}
.cdk-virtual-scroll-content-wrapper {
    height: 70vh;
}
#points {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
#cart-button-container {
    display: flex;
    justify-content: center;
}
#points-order-container {
    display: grid;
    grid-template-rows: 30% 70%;   
}
  