<app-navbar></app-navbar>
<div class="flex-grid">                
    
    <aside class="aside-container">
        <mat-toolbar>Choice Points</mat-toolbar>
        <div id="points">{{ currentPoints + ' / ' + maxPoints}}</div>
    </aside>    
    
    <main id="shop">
        <mat-toolbar>Shop</mat-toolbar>
        <cdk-virtual-scroll-viewport  itemSize="">
            <ng-container *ngFor="let type of types" >
                <app-product-type [family]="family" [subTypes]="subTypes" [type]="type"></app-product-type>
            </ng-container>
        </cdk-virtual-scroll-viewport>     
    </main>

    <aside class="aside-container">
        <mat-toolbar>Ready to Order?</mat-toolbar>
        <div id="review">
            <button mat-raised-button  (click)="onReviewOrderClick()">Review Order</button>
        </div>
    </aside>  

</div>

