.flex-grid {
    margin: 5%;
    margin-top: 6%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.mat-toolbar {
    background: lightseagreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    justify-content: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    background: rgba(33, 38, 39, 0.7);
    border-radius: 10px;
    height: 15%;
    min-width: 200px;
}
#left .mat-card {
    background: rgb(160, 6, 160);
    margin: 5%;
}
#right {
    height: 125px;
}
#middle {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    /* width: 55%; */
    background: rgba(33, 38, 39, 0.7);
    border-radius: 10px;
    min-width: 700px;
}
.cdk-virtual-scroll-viewport {
    display: flex;
    height: 73vh;
    width: 100%;
}
.cdk-virtual-scroll-content-wrapper {
    height: 70vh;
}
button {
    width: auto;
    height: auto;
    background-color: goldenrod;
    border: solid black .5px;
    border-radius: 5px;
    margin: 5%;
}
#fruit {
    position: fixed;
    z-index: -1;
    top: 40%;
    right: -12%;
    overflow: hidden;
}


  