.top-grid {
    margin: 5%;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.mat-toolbar {
    background: #065777;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    justify-content: center;
    color: white;
}
.mat-card {
    border: solid black 1px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
}
.aside-container {
    background: #46a8d0;
    background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
    border: solid black 1px;
    color: black;
    display: flex;
    flex-direction: column;
    flex: 0 0 10%;
    justify-content: space-between;
    width: 20%;
    border-radius: 10px;
    height: 100%;
    min-width: 200px;
}
#shop {
    background: #46a8d0;
    background-image: url("https://www.transparenttextures.com/patterns/wavecut.png");
    border: solid black 1px;
    border-radius: 10px;
    flex: 0 0 80%;
    min-width: 700px;
}
.cdk-virtual-scroll-viewport {
    display: flex;
    height: 70vh;
    width: 100%;
}
#review {
    display: flex;
    justify-content: center;
    margin: 5%;
}
.mat-spinner {
    position: fixed;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
