<mat-expansion-panel [expanded]="panelOpenState" 
(opened) ="panelOpenState = true" (closed)="panelOpenState = false">
    
  <mat-expansion-panel-header>
    <mat-panel-title>Choice Items</mat-panel-title>
    <mat-panel-description>{{panelOpenState ? 'close' : 'open'}}</mat-panel-description>
  </mat-expansion-panel-header>  

  <mat-card *ngFor="let choiceProduct of choiceProducts">
    <mat-card-header>
      <mat-card-title>{{choiceProduct.name}}</mat-card-title>
      <div class="amount">{{'Amount in Cart: ' + getChoiceProductAmountInCart(choiceProduct)}}</div>
      <div class="point-limit">
        {{'Points: ' + choiceProduct.points}}
        <div>{{'Limit: ' + choiceProduct.limit}}</div> 
      </div>
      <mat-card-content>
          <button mat-button (click)="removeChoiceProduct(choiceProduct)"
            [disabled]="!isChoiceProductInCart(choiceProduct)">Remove</button>
          <button mat-button (click)="addChoiceProduct(choiceProduct)"
            [disabled]="isChoiceAddButtonDisabled(choiceProduct)">Add</button>   
      </mat-card-content>   
    </mat-card-header>
  </mat-card>

  <mat-action-row (click)="closePanel()">{{panelOpenState ? 'close' : 'open'}}</mat-action-row>

</mat-expansion-panel>
