<!-- <mat-expansion-panel [expanded]="panelOpenState" 
(opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
  <mat-expansion-panel-header>
    <mat-panel-title>After School Items</mat-panel-title>
    <mat-panel-description>{{panelOpenState ? 'close' : 'open'}}</mat-panel-description>
  </mat-expansion-panel-header>  
  
  <mat-card *ngFor="let afterSchoolProduct of afterSchoolProducts">
    <mat-card-header>      
      <mat-card-title>{{afterSchoolProduct.name}}</mat-card-title>
      <div class="amount">{{'Amount in Cart: ' + getAfterSchoolProductAmountInCart(afterSchoolProduct)}}</div>
      <div class="limit">{{'Limit: ' + getAfterSchoolProductLimit(afterSchoolProduct)}}</div>
      <mat-card-content>
        <button mat-button (click)="removeAfterSchoolProduct(afterSchoolProduct)" 
        [disabled]="!isAfterSchoolProductInCart(afterSchoolProduct)">Remove</button> 
        <button mat-button (click)="addAfterSchoolProduct(afterSchoolProduct)" 
        [disabled]="isAfterSchoolProductAtLimit(afterSchoolProduct)">Add</button>      
      </mat-card-content>
    </mat-card-header>
  </mat-card>
  <mat-action-row (click)="closePanel()">{{panelOpenState ? 'close' : 'open'}}</mat-action-row>

</mat-expansion-panel> -->