.mat-expansion-panel {
    background: rgb(43, 126, 235);
    margin: 2%;
    border: solid black .5px;
  }
  .mat-card {
    background: rgb(12, 36, 100);
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .mat-card-header {
    display: grid; 
    grid-template-columns: 49% auto 5%;
  }