<ng-container *ngIf="!schoolProduct || schoolIncluded"> 
  <mat-expansion-panel [expanded]="panelOpenState" 
  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    
    <mat-expansion-panel-header>
      <mat-panel-title>{{type}}</mat-panel-title>
      <mat-panel-description>{{panelOpenState ? 'close' : 'open'}}</mat-panel-description>
    </mat-expansion-panel-header>    
    
    <mat-card *ngFor="let product of products">
      <mat-card-header>      
        <mat-card-title>{{product.name}}</mat-card-title>
        <div class="amount">{{'Amount in Cart: '}}</div>
        <div *ngIf="!schoolIncluded" class="limit">{{'Limit: ' + getAmount(product)}}</div>
        <div *ngIf="schoolIncluded" class="limit">{{'Limit: ' + getAmount(product, true)}}</div>
        <mat-card-content>
          <button mat-button (click)="closePanel()" 
          [disabled]="">Remove</button> 
          <button mat-button (click)="closePanel()" 
          [disabled]="">Add</button>      
        </mat-card-content>
      </mat-card-header>
    </mat-card>
    <mat-action-row (click)="closePanel()">{{panelOpenState ? 'close' : 'open'}}</mat-action-row>

  </mat-expansion-panel>
</ng-container>   