<ng-container *ngIf="(!schoolType || schoolIncluded) && (!infantType || infantsIncluded)"> 
  <mat-expansion-panel (opened) ="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{type.typeName}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card *ngIf="hasPoints && panelOpenState" class="icon-top-container">
      <div class="icon-sub-container" [ngClass]="{'at-limit': allPointsUsed}">
        <div class="label-container">
          <div>{{currentPoints}}</div>
          <div class="label">
            <span>Points Remaining</span>
            <span class="icon-container">
              <mat-icon>attach_money</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="product-card-container" *ngIf="panelOpenState">
        <div *ngFor="let product of products" class="product-card">
          <app-limited-product *ngIf="!product.typeId"
          [cart]="cart" [family]="family" [product]="product" [type]="type">
          </app-limited-product>
          <app-sub-type-product *ngIf="product.typeId"
            [cart]="cart" [family]="family" [product]="product" [type]="type">
          </app-sub-type-product>
        </div>
    </div>
    <mat-action-row (click)="closePanel()"></mat-action-row>
  </mat-expansion-panel>
</ng-container>  
