 .grid-container {
   display: grid;
   grid-template-columns: 70% 30%;
 }
 .info-container {
  display: grid;
  grid-template-columns: 67% auto;
 }
 .points {
   margin-top: -5%;
 }
.mat-button {
  border: solid black .5px;
  border-radius: 5px;
  background-color: goldenrod;
  font-size: 22px;
  margin-left: 10%;
}
::ng-deep .mat-tooltip {
  background-color: red;
  color: blue;
  font-size: 20px;
}