.questions {
    background-color: #46a8d0;
    padding: 1rem;
}
.mat-toolbar {
    background-color: #065777;
    border: solid black 1px;
    border-radius: 5px;
    color: white;
    display: flex;
    font-size: large;
    justify-content: center;
    margin-bottom: 2%;
}
.mat-stepper-horizontal {
    background-color: #D47B28;
    border: solid black 1px;
    border-radius: 5px;
}
.mat-card {
    background-color: #71A040;
    border: solid black 1px;
    border-radius: 5px;
    color: black;
}
.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
    display: block;
    margin: auto;
}
#return {
    margin-top: 5%;
}
