<ng-container *ngIf="!onlySchoolProducts || schoolIncluded"> 
  <mat-expansion-panel (opened) ="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{type.typeName}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card *ngIf="typeMaxAmount != null">
      {{'You are allowed ' + typeMaxAmount + ' items from the below products.'}}
      <br>
      {{typeAmountInCart != 0 ? typeAmountInCart + ' ' + type.typeName + ' product in Cart' : 'None in Cart'}}
    </mat-card>
    <ng-container *ngFor="let product of products">
      <app-product [atTypeMaxAmount]="atTypeMaxAmount" [family]="family" 
      [product]="product" [type]="type" (typeAmountInCartEmitter)="updateTypeAmount($event)">
      </app-product>
    </ng-container>       
    <mat-action-row (click)="closePanel()"></mat-action-row>
  </mat-expansion-panel>
</ng-container>   
