<ng-container *ngIf="!onlySchoolProducts || schoolIncluded"> 
  <mat-expansion-panel (opened) ="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState" [ngClass]="{'sub-type' : subType}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{type.typeName}}
      </mat-panel-title>
      <mat-panel-description>
        {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card *ngIf="typeMaxAmount != null" [ngClass]="{'sub-type-max-amount' : subType}">
      {{'You are allowed ' + typeMaxAmount + ' items from the below products.'}}
      <br>
      {{'Each item is 1 ' + type.unit  + '.'}}
      <br>
      {{typeTracker.typeAmountInCart === 0 ? 'None in Cart':
          typeTracker.typeAmountInCart >= 1 ? 
          typeTracker.typeAmountInCart + ' ' + type.typeName + ' Products in Cart' : 
          typeTracker.typeAmountInCart + ' ' + type.typeName + ' Product in Cart'
      }}
    </mat-card>
    <ng-container *ngFor="let productType of productTypes">
      <ng-container *ngIf="productType.productId">
        <app-product (addOneTypeAmount)="updateTypeAmount($event)" [atTypeMaxAmount]="typeTracker.atTypeMaxAmount" 
        [family]="family" [product]="productType" [superType]="superType" [type]="type">
        </app-product>
      </ng-container>
      <ng-container *ngIf="productType.typeId">    
        <app-product-type [family]="family" [superType]="superType" [type]="productType"></app-product-type>
      </ng-container>  
    </ng-container>       
    <mat-action-row (click)="closePanel()"></mat-action-row>
  </mat-expansion-panel>
</ng-container>   
