.mat-expansion-panel {
  background:  #603A17;
  margin: 2%;
  border: solid black 1px;
} 
.mat-card {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mat-action-row {
  border-top: 0;
  color: rgba(255,255,255,.7);
  cursor: pointer;
}
.sub-type {
  background: #71A040;
  margin-left: 0;
  width: 100%;
}
.max-amount {
  background:  #D47B28;
  border: solid black 1px;
  color: black;
}
.sub-type-max-amount {
  background: #D47B28;
  border: solid black 1px;
  color:black;
}