.mat-raised-button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
}
.button-div {
    display: flex;
    justify-content: space-between;
}
header {
    display: flex;
    font-size: large;
    justify-content: center;
    margin-bottom: 2%;
}
#household-caution {
    background: #a93610;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
