<mat-expansion-panel (opened) ="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
      <mat-panel-title>
        Monthly Recipe
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? 'close' : 'open'}}
      </mat-panel-description>
    </mat-expansion-panel-header>  
  <mat-card *ngFor="let recipe of recipes" class="card-container">
    <mat-card-header>
      <mat-card-title>{{recipe.name}}</mat-card-title>
      <div>{{isProductInCart(recipe) ? recipe.name + ' in Cart' : 'None in Cart'}}</div>
      <mat-checkbox  (change)="updateRecipeCart(recipe)" 
        [checked]="isProductInCart(recipe)" labelPosition="before">
        Include
    </mat-checkbox>
    </mat-card-header>
  </mat-card>
</mat-expansion-panel>
