<app-navbar></app-navbar>
<div class="flex-grid">
  <mat-card id="family-form">
    <mat-horizontal-stepper linear labelPosition="bottom">
      <mat-step [formGroup]="contactForm" state="contact" [completed]="contactForm.status === 'VALID'">
      <ng-template matStepLabel>Contact Information</ng-template>  
        <div>  
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
            <mat-error *ngIf="contactForm.get('firstName').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
            <mat-error *ngIf="contactForm.get('lastName').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field>
        </div>  
        <div>
          <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zipCode" placeholder="Example: 78965">
            <mat-error *ngIf="contactForm.get('zipCode').hasError('pattern')">Zipcode must be exactly five digits (example: 64359).</mat-error>
            <mat-error *ngIf="contactForm.get('zipCode').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field>  
        </div>
        <div>
          <mat-form-field> 
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="Example: 777-777-7777">
          <mat-error *ngIf="contactForm.get('phoneNumber').hasError('pattern')">Phone number must be in the following format: 555-555-5555.</mat-error>
          <mat-error *ngIf="contactForm.get('phoneNumber').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field>
        </div>
        <div>  
          <mat-form-field>
            <mat-label>Email Address (optional)</mat-label>
            <input matInput formControlName="emailAddress">
            <mat-error *ngIf="contactForm.get('emailAddress').hasError('email')">Email address must include the @ symbol.</mat-error>
          </mat-form-field>
        </div>
        <div class="button-space">
          <div></div>
          <button mat-raised-button matStepperNext [disabled]="!contactForm.valid">Next</button>
        </div>
        </mat-step>
        <mat-step [formGroup]="householdForm" state="household" [completed]="householdForm.status === 'VALID'">  
        <ng-template matStepLabel>Household Information</ng-template>    
        <div>
          <mat-form-field>
            <mat-label>Family Size</mat-label>
            <mat-select matInput formControlName="familySize">
              <mat-option [value]=1>1</mat-option>
              <mat-option [value]=2>2</mat-option>
              <mat-option [value]=3>3</mat-option>
              <mat-option [value]=4>4</mat-option>
              <mat-option [value]=5>5</mat-option>
              <mat-option [value]=6>6</mat-option>
              <mat-option [value]=7>7</mat-option>
              <mat-option [value]=8>8</mat-option>
              <mat-option [value]=9>9+</mat-option>
            </mat-select>
            <mat-error *ngIf="householdForm.get('familySize').hasError('required')">{{requiredError}}</mat-error>  
          </mat-form-field>
        </div>
        <div>  
          <mat-form-field>
            <mat-label>Number of children under 17 years old</mat-label>
            <mat-select matInput formControlName="schoolChildren">
              <mat-option [value]=0>0</mat-option>
              <mat-option [value]=1>1</mat-option>
              <mat-option [value]=2>2</mat-option>
              <mat-option [value]=3>3</mat-option>
              <mat-option [value]=4>4</mat-option>
              <mat-option [value]=5>5</mat-option>
              <mat-option [value]=6>6</mat-option>
              <mat-option [value]=7>7</mat-option>
              <mat-option [value]=8>8</mat-option>
              <mat-option [value]=9>9+</mat-option>
            </mat-select>
            <mat-error *ngIf="householdForm.get('schoolChildren').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field>
        </div>
        <div>  
          <mat-form-field>
            <mat-label>Number of children under 3 years old</mat-label>
            <mat-select matInput formControlName="infants">
              <mat-option [value]=0>0</mat-option>
              <mat-option [value]=1>1</mat-option>
              <mat-option [value]=2>2</mat-option>
              <mat-option [value]=3>3</mat-option>
              <mat-option [value]=4>4</mat-option>
              <mat-option [value]=5>5</mat-option>
              <mat-option [value]=6>6</mat-option>
              <mat-option [value]=7>7</mat-option>
              <mat-option [value]=8>8</mat-option>
              <mat-option [value]=9>9+</mat-option>
            </mat-select>
            <mat-error *ngIf="householdForm.get('infants').hasError('required')">{{requiredError}}</mat-error>  
          </mat-form-field>  
        </div>
        <div class="button-space">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext [disabled]="!householdForm.valid">Next</button>
        </div>
        </mat-step>
        <mat-step [formGroup]="pickUpForm" state="pick-up" [completed]="pickUpForm.status === 'VALID'">
        <ng-template matStepLabel>Pick Up Options</ng-template>  
        <div>
          <!-- LEFT IN FOR WHEN OR IF WE RE-IMPLEMENT LIMITED PICK UP DATES AND LOCATIONS
            <mat-form-field>
            <mat-label>Were you referred by CELC?</mat-label>
            <mat-select matInput formControlName="referral" (selectionChange)="setPickUpDateOptions($event.value)">
              <mat-option [value]=true>Yes</mat-option>
              <mat-option [value]=false>No</mat-option>
            </mat-select>
            <mat-error *ngIf="pickUpForm.get('referral').hasError('required')">{{requiredError}}</mat-error>
          </mat-form-field> -->
        </div>
        <div>
          <mat-form-field>
            <mat-label>Pick Up Dates:</mat-label>
            <mat-select matInput formControlName="pickUpDate">
              <mat-option *ngFor="let pickUpDate of pickUpDateOptions" [value]="pickUpDate">{{pickUpDate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="pickUpForm.get('pickUpDate').hasError('required')">This field is required.</mat-error>  
          </mat-form-field>
        </div>
        <div class="button-space">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext [disabled]="!pickUpForm.valid" (click)="onShopClick()">Shop!</button>
        </div>
      </mat-step>
      <ng-template matStepperIcon="contact">
        <mat-icon>person</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="household">
        <mat-icon>house</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="pick-up">
        <mat-icon>directions_car</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </mat-card>  
</div>