.flex-grid {
    margin: 5%;
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}
.mat-toolbar {
    background: #065777;
    border: solid black 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid black .5px;
    justify-content: center;
    color: white;
}
#family-form {
    justify-content: space-evenly; 
}
.mat-card {
    border: solid black 1px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
#family-form .mat-card {
    background: #46a8d0;
}
button {
    background-color: #F6D936;
    border: solid black .5px;
    border-radius: 5px;
    color: black;
}
#button-space {
    display: flex;
    justify-content: space-between;
}
.mat-error {
    color: #A71E2A;
}
