@import "~@angular/material/prebuilt-themes/purple-green.css";
body {
  background-image: url(./assets/images/diagonal_waves.png);
}
.mat-content {
  justify-content: space-between;
}
.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 1;
}
.mat-form-field {
  width: 30rem;
}
.mat-focused .mat-form-field-label {
  color: black !important;
}
.mat-form-field-ripple {
  background-color: black !important;
}
.mat-form-field.ng-touched.ng-invalid .mat-form-field-label {
  color: black !important;
}
.mat-datepicker-content {
  background:  rgb(18, 122, 117);
  border: solid black .5px;
}
.mat-select-panel {
  background: #065777;
  border: solid black .5px;
}
.mat-dialog-container {
  background: #71A040;
  border: solid black .5px;
  border-radius: 10px;
}
.mat-raised-button[disabled][disabled] {
  color: #202020;
  background-color: #F6D936;
  opacity: .3;
}
.mat-raised-button[disabled][disabled]:hover {
  cursor: not-allowed;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: orange;
}
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: black;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: black;
}
.mat-horizontal-stepper-content {
  /* margin-left: 5%; */
  /* margin-right: 10%; */
}

