<div class="questions">
  <ng-container [ngSwitch]="currentPath">

    <ng-container *ngSwitchCase="'family'">
      <mat-toolbar>Form Help</mat-toolbar>
      <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Contact" state="contact" completed="false">
          <mat-card>[Contact Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Household" state="household" completed="false">
          <mat-card>[Household Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Pick Up" state="pick-up" completed="false">
          <mat-card>[Pick Up Help Goes Here]</mat-card>
        </mat-step>
        <ng-template matStepperIcon="contact">
          <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="household">
          <mat-icon>house</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="pick-up">
          <mat-icon>directions_car</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>help</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </ng-container>

    <ng-container *ngSwitchCase="'shop'">
      <mat-toolbar>Shop Help</mat-toolbar>
      <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Choice Points" state="choice-points" completed="false">
          <mat-card>[Choice Points Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Limits" state="limits" completed="false">
          <mat-card>[Limits Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Shop Options" state="shop-options" completed="false">
          <mat-card>[Shop Options Help Goes Here]</mat-card>
        </mat-step>
        <ng-template matStepperIcon="choice-points">
          <mat-icon>attach_money</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="limits">
          <mat-icon>add</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="shop-options">
          <mat-icon>storefront</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>help</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </ng-container>

    <ng-container *ngSwitchCase="'order'">
      <mat-toolbar>Order Help</mat-toolbar>
      <mat-horizontal-stepper labelPosition="bottom">
        <mat-step label="Updates" state="updates" completed="false">
          <mat-card>[Update Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Your Cart" state="cart" completed="false">
          <mat-card>[Cart Help Goes Here]</mat-card>
        </mat-step>
        <mat-step label="Submitting" state="submit" completed="false">
          <mat-card>[Submit Help Goes Here]</mat-card>
        </mat-step>
        <ng-template matStepperIcon="updates">
          <mat-icon>create</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="cart">
          <mat-icon>shopping_cart</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="submit">
          <mat-icon>send</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <mat-icon>help</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>
    </ng-container>
    <div>
      <button id="return" mat-raised-button (click)="onCloseClick()"cdkFocusInitial>{{buttonContent}}</button>
    </div>    
  </ng-container>    
</div>
